@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
  --gray: rgb(21, 21, 21);
  font-size: 16px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

header{
  height: 70px;
  background-color: var(--gray);
  position: relative;
}

.search-bar input{
  font-size: 16px;
  height: 30px;
  border: none;
  width: 300px;
  padding: 0.2rem 0.5rem;
  outline: none;
}

.search-bar img{
  background-color: transparent;
  height: 24px;
}

.search-bar form{
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translate(0,-50%);
}

.search-bar button{
  background-color: white;
  border: none;
  height: 30px;
  padding: 0 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.search-bar button:hover{
  background-color: rgb(220, 220, 220);
}

.main{
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/background.jpg); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-position: center;
  background-size: cover;
  min-height: calc(100vh - 70px);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.unit-btn{
  position: absolute;
  width: 75px;
  top: 50%;
  right: 2rem;
  transform: translate(0,-50%);
  font-size: 16px;
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.unit-btn:hover{
  background-color: rgb(220, 220, 220);
}

#weather-icon{
  width: 175px;
  display: block;
}

.row{
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 25px;
}
.col{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#city{
  margin-top: 50px;
  text-align: center;
  font-size: 52px;
  margin-bottom: 20px;
}
#temp{
  font-size: 50px;
  min-width: 220px;
  margin-bottom: 20px;
}

.last-row{
  margin-top: 50px;
  display: flex;
  gap: 80px;
}

.icon{
  width: 50px;
  filter: invert(100);
}

.line-col{
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.extra-col{
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 20px;
}

img{
user-select: none;
-webkit-user-drag: none;
}

.warning{
  margin-left: 1rem;
  color: white;
  visibility: hidden;
  
}

div.show{
  visibility: visible;
}